
<div class="editor-container">
  <h3>Add Section</h3>

  <!-- Section Dropdown -->
  <mat-form-field>
    <mat-label>Sections</mat-label>
    <mat-select [(ngModel)]="newSection.title" [disabled]="enableEdit" >
      <mat-option value="" disabled style=" background-color: #ffffff; border-radius: 4px;">Select a section</mat-option>
      <mat-option *ngFor="let title of availableSections" [value]="title" style=" background-color: #ffffff; border-radius: 4px;">
        {{ title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
   

   Start Page
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Start Page</mat-label>
    <input matInput type="number" [max]="totalPages" min="0" [(ngModel)]="newSection.startPage" (ngModelChange)="onStartPageChange(newSection.startPage)"/>
  </mat-form-field>

  End Page 
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>End Page</mat-label>
    <input matInput type="number" [max]="totalPages" min="0" [(ngModel)]="newSection.endPage" (ngModelChange)="onEndPageChange(newSection.endPage)"  />
  </mat-form-field>

<div *ngIf="isPageRangeInvalid" class="error-message">
  ⚠️ Start Page cannot be greater than End Page.
</div>
  <!-- Add Button -->
  <button
    mat-raised-button
    color="primary"
    (click)="addSection()" [disabled]="enableEdit || isPageRangeInvalid " 
  >
    Add Section
  </button>
    <button
    mat-raised-button
    color="primary"
    (click)="updateSection()" [disabled]="!enableEdit || isPageRangeInvalid"
  >
    Save Section
  </button>
</div>



