
<div mat-dialog-title class="dialog-header">
  <h2>Create Property</h2>
  <button mat-icon-button aria-label="Close dialog" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="create-project-section">
    <form [formGroup]="projectNamefg" (ngSubmit)="onCreateProject()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Property Name</mat-label>
        <input matInput formControlName="inputValue" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
  </div>
</mat-dialog-content>
