<!-- <div style="display: grid; grid-template-columns: 250px 1fr;"> -->
<div class = "main-layout">

<div class="left-panel">
<app-add-sections [selectedPages]="selectedPages" [selectedFile]="selectedFile"></app-add-sections>
<mat-form-field appearance="fill" class="dropdown-button">
  <mat-label>Select a file</mat-label>
 <mat-select (selectionChange)="onFileSelected($event)">
  <mat-option *ngFor="let file of selectedFolder" [value]="file" style=" background-color: #ffffff; border-radius: 4px;">
    {{ getFileName(file.key) }}
  </mat-option>
</mat-select>
</mat-form-field>
</div>


<div class="middle-panel">
  <h3>Document Viewer</h3>
  <p *ngIf="selectedFile" ><strong>Document:</strong> {{getFileName(selectedFile).split('?')[0]}}</p>
  
<div class="pdf-grid" >  
  <div *ngFor="let img of pageImages; index as i"
       class="thumbnail"
       [class.selected]="selectedPages.includes(i)"
       (click)="toggleSelection(i, $event)">
    <img [src]="img" />
    <span class="page-number">Page {{ i + 1 }}</span>
  </div>
  <mat-progress-spinner *ngIf="isRendering" diameter="50"></mat-progress-spinner>
</div>
</div>


<div class="right-panel">
  <h3>
  <div style="display: flex; align-items: center; justify-content: space-between ; margin-top:-20px;">
  Sections
  <div style="display: flex; justify-content: flex-end; margin:2px;">
  <button  mat-fab (click)="getCreatedSections()">
  <mat-icon>refresh</mat-icon>
  </button>
  
  </div>
  
  </div>
  </h3>
<mat-list *ngIf="selectedFile ; else noFileSelected">
  <mat-list-item *ngFor="let section of createdSections" class="transparent-card">
     <div class="card-content">
      <h4>{{ section.title }}</h4>
      <p>Pages {{ section.startPage }} - {{ section.endPage }}</p>
    </div>
    <button mat-icon-button color="warn" class="delete-button" (click)="deleteSection()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<ng-template #noFileSelected>
  <p>Please select a file to view its sections.</p>
</ng-template>
</div>
</div>