<!-- <div style="display: grid; grid-template-columns: 250px 1fr;"> -->
<div class = "main-layout">

<div class="left-panel">
  <mat-form-field class="dropdown-button" appearance="fill" subscriptSizing="dynamic">
    <mat-label>Select a file</mat-label>
   <mat-select (selectionChange)="onFileSelected($event)">
    <mat-option *ngFor="let file of selectedFolder" [value]="file" style=" background-color: #ffffff; border-radius: 4px;">
      {{ getFileName(file.key) }}
    </mat-option>
  </mat-select>
  </mat-form-field>
  <app-add-sections [selectedSection]="selectedSection" [selectedPages]="selectedPages" [selectedFile]="selectedFile" [selectedFolder]="selectedFolder"></app-add-sections>
</div>


<div class="middle-panel">
  <div class="sticky-header">
    <h3>Document Viewer</h3>
  </div>
  <p *ngIf="selectedFile" ><strong>Document:</strong> {{getFileName(selectedFile).split('?')[0]}}</p>
  
<div class="pdf-grid" >
  <!-- <ng-template ngIf="pdfDownloading">
    Loading...
  </ng-template> -->
  <!-- <ng-template *ngIf="!pdfDownloading"> -->
    <div *ngFor="let img of pageImages; index as i" [id]="'page-' + i"
        class="thumbnail"
        [class.selected]="selectedPages.includes(i)"
        (click)="toggleSelection(i, $event)">
      <img [src]="img" />
      <span class="page-number">Page {{ i + 1 }}</span>
    </div>
  <!-- </ng-template> -->
  <mat-progress-spinner *ngIf="isRendering" diameter="50"></mat-progress-spinner>
</div>
</div>


<div class="right-panel">
  <div class="sticky-header">
  <div style="display: flex; align-items: center; justify-content: space-between ; margin-top:-20px;">
  <h3>Sections</h3>
  <div style="display: flex; justify-content: flex-end; margin:2px;">
  <button  mat-fab (click)="getCreatedSections()">
  <mat-icon>refresh</mat-icon>
  </button>
  
  </div>
  
  </div>
</div>
<mat-list *ngIf="selectedFile ; else noFileSelected">
  <mat-list-item *ngFor="let section of createdSections"  class="transparent-card">
     <div class="section">
      <h5 (click)="onSectionSelect(section)"  >{{ section.title }}</h5>
      <div class="section-details">
        <p style="font-size: 13px;"(click)="onSectionSelect(section)">Pages {{ section.startPage }} - {{ section.endPage }}</p>
        <button mat-icon-button color="warn" class="delete-button" (click)="deleteSection(section)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<ng-template #noFileSelected>
  <p>Please select a file to view its sections.</p>
</ng-template>
</div>
</div>